.navBar {
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
}

.navbar-nav > a {
  padding: 1em;
  margin-right: 2em;
  margin-left: 2em;
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.904);
  box-shadow: 0em -2em 1em 3em rgba(0, 0, 0, 0.904);
}

.navbar-toggler {
  margin: 0.5em;
  background-color: rgba(185, 129, 7, 0.904);
  box-shadow: 0em 0em 0.1em 0.1em rgba(185, 129, 7, 0.904);
  color: white;
  /*background-image: url(../localAssets/padoru.jpg);*/
  border-style: none;
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: inherit;
}

.navbar-toggler-icon {  
  border-style: none;
  text-decoration: none;
}

.text-style > h4 {
  color: white;
  text-transform: capitalize;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.brand-logo {
  width: 8%;
  
  margin: 0.5em;
  position: fixed;
  z-index: 10000;
}
.brand-logo:hover {
  width: 12%;
}
